In [1]:
import numpy as pd
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
ww2_cas = Series([87000000, 43000000, 3000000, 2100000, 400000], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       87000000
Germany    43000000
China       3000000
Japan       2100000
USA          400000
dtype: int64

In [7]:
www2_cas['USA']

NameError: name 'www2_cas' is not defined

In [8]:
ww2_cas['USA']

400000

In [12]:
# Check which contries had casualties greater than 4 million.
ww2_cas[ww2_cas > 4000000]

USSR       87000000
Germany    43000000
dtype: int64

In [13]:
'USSR' in ww2_cas

True

In [14]:
ww2_dict = ww2_cas.to_dict()

In [15]:
ww2_dict

{'China': 3000000,
 'Germany': 43000000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 87000000}

In [16]:
ww2_series = Series(ww2_dict)

In [17]:
ww2_series

China       3000000
Germany    43000000
Japan       2100000
USA          400000
USSR       87000000
dtype: int64

In [18]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [19]:
obj2 = Series(ww2_dict, index=countries)

In [20]:
obj2

China         3000000.0
Germany      43000000.0
Japan         2100000.0
USA            400000.0
USSR         87000000.0
Argentina           NaN
dtype: float64

In [21]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [22]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [23]:
ww2_series

China       3000000
Germany    43000000
Japan       2100000
USA          400000
USSR       87000000
dtype: int64

In [24]:
obj2

China         3000000.0
Germany      43000000.0
Japan         2100000.0
USA            400000.0
USSR         87000000.0
Argentina           NaN
dtype: float64

In [26]:
ww2_series + obj2

Argentina            NaN
China          6000000.0
Germany       86000000.0
Japan          4200000.0
USA             800000.0
USSR         174000000.0
dtype: float64

In [27]:
obj2.name = "World War 2 Casualities"

In [28]:
obj2

China         3000000.0
Germany      43000000.0
Japan         2100000.0
USA            400000.0
USSR         87000000.0
Argentina           NaN
Name: World War 2 Casualities, dtype: float64

In [31]:
obj2.index.name = "Countries"

In [32]:
obj2

Countries
China         3000000.0
Germany      43000000.0
Japan         2100000.0
USA            400000.0
USSR         87000000.0
Argentina           NaN
Name: World War 2 Casualities, dtype: float64