In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
df_left = DataFrame({'key':['x','y','z','x','y'], 
                     'data':range(5)})

In [3]:
df_left

  key  data
0   x     0
1   y     1
2   z     2
3   x     3
4   y     4

In [4]:
df_right = DataFrame({'group_data':[10,20]}, index=['x','y'])
df_right

   group_data
x          10
y          20

In [7]:
pd.merge(df_left, df_right,left_on='key',right_index=True)

  key  data  group_data
0   x     0          10
3   x     3          10
1   y     1          20
4   y     4          20

In [12]:
df_left_hr = DataFrame({'key1':['sf','sf','sf','la','la'],
                       'key2':[10,20,30,20,30],
                       'data_set':np.arange(5.)})
df_left_hr

  key1  key2  data_set
0   sf    10       0.0
1   sf    20       1.0
2   sf    30       2.0
3   la    20       3.0
4   la    30       4.0

In [15]:
df_right_hr = DataFrame(np.arange(10).reshape(5,2),
                       index=[['la','la','sf','sf','sf'],
                             [20,10,10,10,20]],
                       columns=['col_1', 'col_2'])
df_right_hr

       col_1  col_2
la 20      0      1
   10      2      3
sf 10      4      5
   10      6      7
   20      8      9

In [16]:
pd.merge(df_left_hr, df_right_hr, left_on=['key1','key2'], right_index=True)

  key1  key2  data_set  col_1  col_2
0   sf    10       0.0      4      5
0   sf    10       0.0      6      7
1   sf    20       1.0      8      9
3   la    20       3.0      0      1

In [17]:
df_left.join(df_right)

  key  data  group_data
0   x     0         NaN
1   y     1         NaN
2   z     2         NaN
3   x     3         NaN
4   y     4         NaN

In [18]:
df_left

  key  data
0   x     0
1   y     1
2   z     2
3   x     3
4   y     4

In [19]:
df_right

   group_data
x          10
y          20