In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)
ranger

range(0, 15)

In [11]:
ser3.reindex(ranger, method='ffill')
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [15]:
dframe = DataFrame(randn(25).reshape([5,5]), index=['A','B','D','E','F'], 
                   columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -0.361666 -0.613714  0.749252  0.411934 -0.214854
B -0.892936  0.035068  0.207361 -0.310908  0.292256
D -0.107421  1.054265 -1.463856  0.506130  0.472462
E -0.192681  0.854799 -0.787006 -0.726342  2.253572
F  0.789003  0.348176 -1.426886 -0.906307  0.716594

In [16]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.361666 -0.613714  0.749252  0.411934 -0.214854
B -0.892936  0.035068  0.207361 -0.310908  0.292256
C       NaN       NaN       NaN       NaN       NaN
D -0.107421  1.054265 -1.463856  0.506130  0.472462
E -0.192681  0.854799 -0.787006 -0.726342  2.253572
F  0.789003  0.348176 -1.426886 -0.906307  0.716594

In [17]:
new_columns = ['col1','col2','col3','col4','col5','col6']
new_columns

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [19]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.361666 -0.613714  0.749252  0.411934 -0.214854   NaN
B -0.892936  0.035068  0.207361 -0.310908  0.292256   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.107421  1.054265 -1.463856  0.506130  0.472462   NaN
E -0.192681  0.854799 -0.787006 -0.726342  2.253572   NaN
F  0.789003  0.348176 -1.426886 -0.906307  0.716594   NaN

In [24]:
dframe.ix[['A','B','B','C','D','E','F'], new_columns]

/home/acatejr/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/home/acatejr/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A -0.361666 -0.613714  0.749252  0.411934 -0.214854   NaN
B -0.892936  0.035068  0.207361 -0.310908  0.292256   NaN
B -0.892936  0.035068  0.207361 -0.310908  0.292256   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.107421  1.054265 -1.463856  0.506130  0.472462   NaN
E -0.192681  0.854799 -0.787006 -0.726342  2.253572   NaN
F  0.789003  0.348176 -1.426886 -0.906307  0.716594   NaN