In [20]:
import numpy as np

In [21]:
# One way to create an array is to convert from list
my_list1 = [1,2,3,4]

In [22]:
my_array1 = np.array(my_list1)
my_array1

array([1, 2, 3, 4])

In [23]:
my_list2 = [11,22,33,44]

In [24]:
my_lists = [my_list1, my_list2]

In [25]:
# Can create multi-d array
my_array2 = np.array(my_lists)
my_array2

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

In [26]:
# Let's see multi-d array shape
my_array2.shape

(2, 4)

In [27]:
# Data type of array
my_array2.dtype

dtype('int64')

In [28]:
# Array of all zeros
np.zeros(5) # 1 by 5

array([0., 0., 0., 0., 0.])

In [29]:
my_zeros_array = np.zeros(5)

In [30]:
my_zeros_array.dtype

dtype('float64')

In [31]:
np.ones([5,5])

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [32]:
np.empty(5)

array([0., 0., 0., 0., 0.])

In [33]:
# Identity matrix
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [34]:
# Evenly spaced vals within interval
np.arange(5)

array([0, 1, 2, 3, 4])

In [35]:
np.arange(5,50,2)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])