In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
dframe = DataFrame(
    {
     'k1':['X','X','Y','Y','Z'],
     'k2':['alpha','beta','alpha','beta','alpha'],
     'dataset1':np.random.randn(5),
     'dataset2':np.random.randn(5)
    }
)
dframe

  k1     k2  dataset1  dataset2
0  X  alpha -2.058870 -1.276776
1  X   beta -0.117153  1.982542
2  Y  alpha  0.306555 -0.148656
3  Y   beta -1.735859  1.663387
4  Z  alpha  0.931758 -0.658838

In [7]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [9]:
group1.mean()

k1
X   -1.088011
Y   -0.714652
Z    0.931758
Name: dataset1, dtype: float64

In [10]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB', 'JAN'])

In [12]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -0.117153
    JAN    0.306555
NY  FEB   -1.735859
    JAN   -0.563556
Name: dataset1, dtype: float64

In [16]:
dframe

    dataset1  dataset2
k1
X  -1.088011  0.352883
Y  -0.714652  0.757365
Z   0.931758 -0.658838

In [17]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X  -1.088011  0.352883
Y  -0.714652  0.757365
Z   0.931758 -0.658838