In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [8]:
json_obj = """
{
    "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null,
    "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]
}
"""
json_obj

'\n{\n    "zoo_animal": "Lion",\n    "food": ["Meat", "Veggies", "Honey"],\n    "fur": "Golden",\n    "clothes": null,\n    "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]\n}\n'

In [4]:
import json

In [9]:
data = json.loads(json_obj)
data

{'zoo_animal': 'Lion',
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'clothes': None,
 'diet': [{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]}

In [12]:
dframe = DataFrame(data['diet'])
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle