In [1]:
import numpy as np

In [2]:
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [6]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

In [9]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
ser3.reindex(ranger, method='ffill')
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [12]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], 
                   columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [15]:
dframe

       col1      col2      col3      col4      col5
A -0.260207  0.491074 -0.229920  0.489298 -0.038556
B  0.100224  0.732348  0.724924  0.109257 -0.068562
D  2.670858 -0.122750  1.511054  0.042466 -0.986937
E  0.611105  0.000529 -1.194578  1.701058 -1.267054
F  2.482946 -0.235330 -0.093533 -1.169666 -0.379812

In [16]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [17]:
dframe2

       col1      col2      col3      col4      col5
A -0.260207  0.491074 -0.229920  0.489298 -0.038556
B  0.100224  0.732348  0.724924  0.109257 -0.068562
C       NaN       NaN       NaN       NaN       NaN
D  2.670858 -0.122750  1.511054  0.042466 -0.986937
E  0.611105  0.000529 -1.194578  1.701058 -1.267054
F  2.482946 -0.235330 -0.093533 -1.169666 -0.379812

In [18]:
new_columns =['col1','col2','col3','col4','col5','col6']

In [19]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.260207  0.491074 -0.229920  0.489298 -0.038556   NaN
B  0.100224  0.732348  0.724924  0.109257 -0.068562   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  2.670858 -0.122750  1.511054  0.042466 -0.986937   NaN
E  0.611105  0.000529 -1.194578  1.701058 -1.267054   NaN
F  2.482946 -0.235330 -0.093533 -1.169666 -0.379812   NaN

In [20]:
dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], new_columns]

       col1      col2      col3      col4      col5  col6
A -0.260207  0.491074 -0.229920  0.489298 -0.038556   NaN
B  0.100224  0.732348  0.724924  0.109257 -0.068562   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  2.670858 -0.122750  1.511054  0.042466 -0.986937   NaN
E  0.611105  0.000529 -1.194578  1.701058 -1.267054   NaN
F  2.482946 -0.235330 -0.093533 -1.169666 -0.379812   NaN